.component-preview {
  margin-block: 1.5rem;
  --code-bubble-border-color: var(--sl-color-gray-5);
  --code-bubble-border-radius: 0.5rem;
  --code-bubble-bg-color: var(--sl-color-gray-7);
  --code-bubble-preview-bg-color: var(--sl-color-gray-6);
  --code-bubble-button-bg-color: var(--sl-color-gray-6);
  --code-bubble-button-fg-color: var(--sl-color-text);
  --code-bubble-copy-button-fg-color: var(--sl-color-text);
}
